<div class="p-4">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <a class="nav-link" routerLinkActive="router-link-active">Sales</a>
                <div class="dropdown-divider"></div>
                <li [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['product']" routerLinkActive="router-link-active">Product</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['accounts']" routerLinkActive="router-link-active">Accounts</a>
                </li>
                <a class="nav-link" routerLinkActive="router-link-active">Marketing</a>
                <div class="dropdown-divider"></div>
                <li [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['campaign']" routerLinkActive="router-link-active">Campaign</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['lead']" routerLinkActive="router-link-active">Lead</a>
                </li>
                <!-- <li [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['test']" routerLinkActive="router-link-active">test</a>
                </li> -->
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>