<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Organisation</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Lead Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of leadData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.organisation}}</td>
            <td>{{item.contact}}</td>
            <td>{{item.email}}</td>
            <td>{{item.leadstatus}}</td>
        </tr>
    </tbody>
</table>