<div class="container">
    <div class="row">
        <div class="heading">
            <label class="title1">Account</label>
            <button class="btn btn-primary btn-sm">Add Account</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Organisation</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>567893594</td>
                    <td>Mark@gmail.com</td>
                    <td><button class="btn btn-primary btn-sm">Approve</button></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>567893594</td>
                    <td>Mark@gmail.com</td>
                    <td><button class="btn btn-primary btn-sm">Approve</button></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>567893594</td>
                    <td>Mark@gmail.com</td>
                    <td><button class="btn btn-primary btn-sm">Approve</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

