<div class="float-right p-2">
    <button class="btn btn-primary" type="button" class="btn btn-primary" data-toggle="modal"
        (click)="open(content, '', 'create')">Create Campaign</button>
</div>

<app-toast class="text-center" aria-live="polite" aria-atomic="true"></app-toast>
<ng-template #alert let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Campaign delete</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this campaign?</strong>
            </p>
            <p>All information associated to this lead will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteCampaign()">Ok</button>
        </div>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Campaign</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createCampaignForm" (ngSubmit)="createCampaignForm.valid && createCampaign()">

                <div class="form-group">
                    <label for="campaign-name" class="col-form-label">Campaign Name:</label>
                    <input type="text" class="form-control" id="campaign-name" formControlName="campaignName"
                        [ngClass]="{'is-invalid': createCampaignForm.get('campaignName').touched && createCampaignForm.get('campaignName').invalid}">
                    <div class="invalid-feedback">
                        Campaignname invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="campaign-description" formControlName="description"
                        [ngClass]="{'is-invalid': createCampaignForm.get('description').touched && createCampaignForm.get('description').invalid}">
                    <div class="invalid-feedback">
                        Description invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-startdate" class="col-form-label">Startdate:</label>
                    <input type="date" class="form-control" id="campaign-startdate" formControlName="startDate"
                        [ngClass]="{'is-invalid': createCampaignForm.get('startDate').touched && createCampaignForm.get('startDate').invalid}">
                    <div class="invalid-feedback">
                        StartDate invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-enddate" class="col-form-label">Enddate:</label>
                    <input type="date" class="form-control" id="campaign-enddate" formControlName="endDate"
                        [ngClass]="{'is-invalid': createCampaignForm.get('endDate').touched && createCampaignForm.get('endDate').invalid}">
                    <div class="invalid-feedback">
                        EndDate invalid!
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Select lead:</label>
                    <div class="users-container">
                        <label class="p-1" formArrayName="leadSelected" *ngFor="let leads of leadData; let i = index">
                            <input type="checkbox" [formControlName]="i">&nbsp;
                            {{leadData[i].name}}
                        </label>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
        </div>
    </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Campaign</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createCampaignForm" (ngSubmit)="createCampaignForm.valid && createCampaign()">

                <div class="form-group">
                    <label for="campaign-name" class="col-form-label">Campaign Name:</label>
                    <input type="text" class="form-control" id="campaign-name" formControlName="campaignName"
                        [ngClass]="{'is-invalid': createCampaignForm.get('campaignName').touched && createCampaignForm.get('campaignName').invalid}">
                    <div class="invalid-feedback">
                        Campaignname invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="campaign-description" formControlName="description"
                        [ngClass]="{'is-invalid': createCampaignForm.get('description').touched && createCampaignForm.get('description').invalid}">
                    <div class="invalid-feedback">
                        Description invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-startdate" class="col-form-label">Startdate:</label>
                    <input type="date" class="form-control" id="campaign-startdate" formControlName="startDate"
                        [ngClass]="{'is-invalid': createCampaignForm.get('startDate').touched && createCampaignForm.get('startDate').invalid}">
                    <div class="invalid-feedback">
                        StartDate invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-enddate" class="col-form-label">Enddate:</label>
                    <input type="date" class="form-control" id="campaign-enddate" formControlName="endDate"
                        [ngClass]="{'is-invalid': createCampaignForm.get('endDate').touched && createCampaignForm.get('endDate').invalid}">
                    <div class="invalid-feedback">
                        EndDate invalid!
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Select lead:</label>
                    <div class="users-container">
                        <label class="p-1" formArrayName="leadSelected" *ngFor="let leads of leadData; let i = index">
                            <input type="checkbox" [formControlName]="i">&nbsp;
                            {{leadData[i].name}}
                        </label>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" (click)="createCampaign()" class="btn btn-primary">Create</button>
        </div>
    </div>
</ng-template>

<ng-template #view let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View Campaign</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createCampaignForm" (ngSubmit)="createCampaignForm.valid && createCampaign()">

                <div class="form-group">
                    <label for="campaign-name" class="col-form-label">Campaign Name:</label>
                    <input type="text" class="form-control" id="campaign-name" formControlName="campaignName" readonly>
                </div>
                <div class="form-group">
                    <label for="campaign-description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="campaign-description" formControlName="description"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="campaign-startdate" class="col-form-label">Startdate:</label>
                    <input type="date" class="form-control" id="campaign-startdate" formControlName="startDate"
                        readonly>
                </div>
                <div class="form-group">
                    <label for="campaign-enddate" class="col-form-label">Enddate:</label>
                    <input type="date" class="form-control" id="campaign-enddate" formControlName="endDate" readonly>
                </div>

                <div class="form-group">
                    <label class="col-form-label">Select lead:</label>
                    <div class="users-container">
                        <label class="p-1" formArrayName="leadSelected"
                            *ngFor="let leads of accountsSelected; let i = index">
                            <input type="checkbox" disabled [formControlName]="i">&nbsp;
                            {{leads.name}}
                        </label>
                    </div>
                </div>

            </form>


        </div>
        <div class="modal-footer">
            <button *ngIf="campaignStatus !== 'approved'" class="btn btn-primary m-1"
                (click)="approveCampaign()">Approve campaign</button>
        </div>
    </div>
</ng-template>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of campaignData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.startdate}}</td>
            <td>{{item.enddate}}</td>
            <td>{{item.campaign_status}}</td>
            <td>
                <button class="btn btn-danger" (click)="open(alert, item.pid, 'delete')">Delete</button>
                <button class="btn btn-info m-1" (click)="open(update, item.pid, 'update')">Update</button>
                <button class="btn btn-primary m-1" (click)="open(view, item.pid, 'view')">View</button>
            </td>
        </tr>
    </tbody>
</table>