<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="navToCampaign()">Marketing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="navToCampaign()">Campaign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="navToLead()">Lead</a>
            </li>
        </ul>
        <ul class="navbar-nav mr">
            <li class="nav-item">
                <a class="nav-link" (click)="navToLogin()">Logout</a>
            </li>
        </ul>
    </div>
</nav>