<div class="container">
    <div class="row">
        <div class="card-body table-responsive">
            <table class="table table-hover table-valign-middle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Members</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Approve</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-target="#certificates" data-toggle="collapse">
                        <td>Full Stack</td>
                        <td>6</td>
                        <td>1/12/2019</td>
                        <td><button class="btn btn-primary">Edit</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                        <td><button class="btn btn-success">Approved</button></td>
                    </tr>
                    <tr data-target="#certificates2" data-toggle="collapse">
                        <td>Christmas Offer</td>
                        <td>100</td>
                        <td>20/12/2019</td>
                        <td><button class="btn btn-primary">Edit</button></td>
                        <td><button class="btn btn-danger">Delete</button></td>
                        <td><button class="btn btn-success">Approved</button></td>
                    </tr>
                </tbody>
            </table>
            <div id="certificates" class="card-body table-responsive collapse">
                <table class="table table-hover table-valign-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Qualification</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Reynaldo Walter</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Samuel Huerta</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="certificates2" class="card-body table-responsive collapse">
                <table class="table table-hover table-valign-middle">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Qualification</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Reynaldo Walter</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Samuel Huerta</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Reynaldo Walter</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Samuel Huerta</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Reynaldo Walter</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Samuel Huerta</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Cecil Avila</td>
                            <td>CecilAvila@gmail</td>
                            <td>b.tech</td>
                            <td>22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>