

<div class="bodylogin">
    <div class="logindiv">
        <label class="mar10">Login</label>
        <input class="form-control mar10" type="text" name="" id="" placeholder="User Name">
        <input class="form-control mar10" type="password" name="" id="" placeholder="Password">
        
        <button class="btn btn-primary mar10"(click)="logins()">Login M</button>
        <button class="btn btn-primary mar10"(click)="loginm()">Login S</button>
    </div>
</div>