<div class="float-right p-2">
    <button class="btn btn-primary" type="button" class="btn btn-primary" data-toggle="modal"
        (click)="open(content)">Create Product</button>
</div>

<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createProductForm" (ngSubmit)="createProductForm.valid && createProduct()">
                <div class="form-group">
                    <label for="product-name" class="col-form-label">Product Name:</label>
                    <input type="text" class="form-control" id="lead-name" formControlName="productName"
                        [ngClass]="{'is-invalid': createProductForm.get('productName').touched && createProductForm.get('productName').invalid}">
                    <div class="invalid-feedback">
                        Name invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="description" formControlName="description"
                        [ngClass]="{'is-invalid': createProductForm.get('description').touched && createProductForm.get('description').invalid}">
                    <div class="invalid-feedback">
                        Description invalid!
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" (click)="createProduct()" class="btn btn-primary">Create</button>
        </div>
    </div>
</ng-template>

<ng-template #view let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View Product</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="createProductForm">
                <div class="form-group">
                    <label for="product-name" class="col-form-label">Product Name:</label>
                    <input type="text" class="form-control" id="lead-name" formControlName="productName" readonly>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="description" formControlName="description" readonly>
                </div>

            </form>
        </div>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createProductForm" (ngSubmit)="createProductForm.valid && createProduct()">
                <div class="form-group">
                    <label for="product-name" class="col-form-label">Product Name:</label>
                    <input type="text" class="form-control" id="lead-name" formControlName="productName"
                        [ngClass]="{'is-invalid': createProductForm.get('productName').touched && createProductForm.get('productName').invalid}">
                    <div class="invalid-feedback">
                        Name invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="description" formControlName="description"
                        [ngClass]="{'is-invalid': createProductForm.get('description').touched && createProductForm.get('description').invalid}">
                    <div class="invalid-feedback">
                        Description invalid!
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" (click)="updateProduct()" class="btn btn-primary">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #alert let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Product delete</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this lead?</strong>
            </p>
            <p>All information associated to this lead will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteProduct()">Ok</button>
        </div>
    </div>
</ng-template>


<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <button class="btn btn-danger m-1" (click)="open(alert, item.pid, 'delete')">Delete</button>
                <button class="btn btn-info m-1" (click)="open(update, item.pid, 'update')">Update</button>
                <button class="btn btn-primary m-1" (click)="open(view, item.pid, 'view')">View</button>

            </td>
        </tr>
    </tbody>
</table>