<div class="float-right p-2">
    <button class="btn btn-primary" type="button" class="btn btn-primary" data-toggle="modal"
        (click)="open(content)">Create Lead</button>
</div>


<app-toast class="text-center" aria-live="polite" aria-atomic="true"></app-toast>

<ng-template #alert let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Lead delete</h4>
            <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to delete this lead?</strong>
            </p>
            <p>All information associated to this lead will be permanently deleted.
                <span class="text-danger">This operation can not be undone.</span>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="deleteLead()">Ok</button>
        </div>
    </div>
</ng-template>

<ng-template #update let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Lead</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createLeadForm" (ngSubmit)="createLeadForm.valid && updateLead()">
                <div class="form-group">
                    <label for="lead-name" class="col-form-label">Lead Name:</label>
                    <input type="text" class="form-control" id="lead-name" formControlName="leadName"
                        [ngClass]="{'is-invalid': createLeadForm.get('leadName').touched && createLeadForm.get('leadName').invalid}">
                    <div class="invalid-feedback">
                        Name invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="organisation" class="col-form-label">Organisation:</label>
                    <input type="text" class="form-control" id="organisation" formControlName="organisation"
                        [ngClass]="{'is-invalid': createLeadForm.get('organisation').touched && createLeadForm.get('organisation').invalid}">
                    <div class="invalid-feedback">
                        Organisation invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-form-label">Contact:</label>
                    <input type="number" class="form-control" id="contact" formControlName="contact"
                        [ngClass]="{'is-invalid': createLeadForm.get('contact').touched && createLeadForm.get('contact').invalid}">
                    <div class="invalid-feedback">
                        Contact invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        [ngClass]="{'is-invalid': createLeadForm.get('email').touched && createLeadForm.get('email').invalid}">
                    <div class="invalid-feedback">
                        Email invalid!
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" (click)="updateLead()" class="btn btn-primary">Update</button>
        </div>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Lead</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createLeadForm" (ngSubmit)="createLeadForm.valid && createLead()">
                <div class="form-group">
                    <label for="lead-name" class="col-form-label">Lead Name:</label>
                    <input type="text" class="form-control" id="lead-name" formControlName="leadName"
                        [ngClass]="{'is-invalid': createLeadForm.get('leadName').touched && createLeadForm.get('leadName').invalid}">
                    <div class="invalid-feedback">
                        Name invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="organisation" class="col-form-label">Organisation:</label>
                    <input type="text" class="form-control" id="organisation" formControlName="organisation"
                        [ngClass]="{'is-invalid': createLeadForm.get('organisation').touched && createLeadForm.get('organisation').invalid}">
                    <div class="invalid-feedback">
                        Organisation invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact" class="col-form-label">Contact:</label>
                    <input type="number" class="form-control" id="contact" formControlName="contact"
                        [ngClass]="{'is-invalid': createLeadForm.get('contact').touched && createLeadForm.get('contact').invalid}">
                    <div class="invalid-feedback">
                        Contact invalid!
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        [ngClass]="{'is-invalid': createLeadForm.get('email').touched && createLeadForm.get('email').invalid}">
                    <div class="invalid-feedback">
                        Email invalid!
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()"
                data-dismiss="modal">Close</button>
            <button type="button" (click)="createLead()" class="btn btn-primary">Create</button>
        </div>
    </div>
</ng-template>
<ng-template #view let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">View Lead</h5>
            <button type="button" (click)="modal.dismiss('Cross click')" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="msg" [ngClass]="{'alert-success': status, 'alert-danger': !status}"
                class="alert  alert-dismissible fade show" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createLeadForm">
                <div class="form-group">
                    <label for="lead-name" class="col-form-label">Lead Name:</label>
                    <input type="text" class="form-control" readonly id="lead-name" formControlName="leadName">
                </div>
                <div class="form-group">
                    <label for="organisation" class="col-form-label">Organisation:</label>
                    <input type="text" class="form-control" readonly id="organisation" formControlName="organisation">
                </div>
                <div class="form-group">
                    <label for="contact" class="col-form-label">Contact:</label>
                    <input type="number" class="form-control" readonly id="contact" formControlName="contact">
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" readonly id="email" formControlName="email">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="leadStatus !== 'approved'" class="btn btn-primary m-1" (click)="convertToAccount()">Convert
                to
                Account</button>
        </div>
    </div>
</ng-template>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Organisation</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Lead Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of leadData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.organisation}}</td>
            <td>{{item.contact}}</td>
            <td>{{item.email}}</td>
            <td>{{item.leadstatus}}</td>
            <td>
                <button class="btn btn-danger m-1" (click)="open(alert, item.pid)">Delete</button>
                <button class="btn btn-info m-1" (click)="open(update, item.pid, 'update')">Update</button>
                <button class="btn btn-primary m-1" (click)="open(view, item.pid, 'view')">View</button>

            </td>
        </tr>
    </tbody>
</table>